
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}



/* font-family: 'Homemade Apple', cursive;

font-family: 'Quicksand', sans-serif;

font-family: 'Raleway', sans-serif; */



/* Core Styling */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

main {
    text-align: center;
}
img {
    max-width: 75vw;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgba(49, 38, 38, 0.5);
    color:rgba(49, 38, 38);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
    background: #4885ed;
    padding: 1em 0;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navigation Bar and Header*/
.navbar {
    font-size: 1.3rem;
    background-image: linear-gradient(260deg, #312626 0%, #050404 100%);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* padding-bottom: 10px; */
    
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links, .link {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    font-family: 'Homemade Apple', cursive;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 0.2em;
    margin-left: 1em;
    padding: 0.4em;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background: #4885ed;
}

.navbar-toggle {
    position: absolute;
    top: 0.55em;
    right: 1em;
    cursor: pointer;
    color: #4885ed;
    font-size: 1.5rem;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/* Home Section */
h1 {
    margin: 1.4em 0;
    font-size: 1.8rem;
}

.h-wrapper {
    height: 100vh;
    background-image: linear-gradient(260deg, #050404 0%, #312626 100%);
    color: rgb(255, 255, 255);
    padding: 0.5em 0;
}

.highlight {
    font-weight: bold;
    color: #4885ed;
    text-shadow: 1px 1px rgba(72, 133, 237, 0.8);
}





.heading-caption {
    margin: 1rem;
    padding: 0.25rem 0;
    border-top: 5px solid rgb(255, 255, 255, 0.5);
    border-bottom: 5px solid rgb(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* Keyframes for Buttons */
@keyframes border-color {
    0%, 100% {
        border: 3px solid rgb(255, 255, 255, 0.7);
    }

    50% {
        border: 3px solid rgb(255, 255, 255);
    }
}

@keyframes alt-border-color {
    0%, 100% {
        border: 3px solid rgb(255, 255, 255);
    }

    50% {
        border: 3px solid rgb(255, 255, 255, 0.7);
    }
}

@keyframes color-grow {
    0%, 100% {
        color: #fff;
        font-size: 1rem;
    }

    50% {
        color: #4885ed;
        font-size: 1.5rem;
    }
}

@keyframes alt-color-grow {
    0%, 100% {
        color: #4885ed;
        font-size: 1.5rem;
    }

    50% {
        color: #fff;
        font-size: 1rem;
    }
}

/* Buttons */
.button {
    display: inline-block;
    /* border: 3px solid rgb(255, 255, 255, 0.8); */
    border-radius: 3px;
    padding: 1.2rem 0;
    font-size: 1rem;
    width: 10em;
    height: 5em;
}

#about-button {
    animation: border-color 2s infinite;
}

#down {
    animation: color-grow 2s infinite;
    
}

#fighting-button {
    animation: alt-border-color 2s infinite;
}

#alt-down {
    animation: alt-color-grow 2s infinite;
}

/* About Section */
figure {
    border: 3px solid #4885ed;
    border-radius: 3px;
    margin: 1rem;
    padding: 1rem 0;
}

/* Fighting Section */
.fighting-wrapper {
    background: rgba(49, 38, 38, 0.5);
    margin: 5em 0;
}

figcaption {
    font-size: 1rem;
    background: #4885ed;
}

.thumb-link {
    width: 25%;
}

.video-heading {
    background: rgb(255, 255, 255, 0.5);
    margin-top: 5em;
}
iframe {
    max-width: 100%;
    padding: 0 0.5em 0.5em 1em;
}

/* Footer */

footer {
    font-size: 0.8rem;
    padding: 0 1em;
}

.foot-logo {
    font-family: 'Homemade Apple', cursive;
    margin-left: 0.5em;
    text-decoration: underline;
}
.contact {
    float: right;
}