
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


/* Core Styling */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

main {
    text-align: center;
}

img {
    max-width: 70vw;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgba(49, 38, 38, 0.5);
    color:rgba(49, 38, 38);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
    background: #4885ed;
    padding: 1em 0;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Navigation Bar and Header*/
.navbar {
    font-size: 1.3rem;
    background-image: linear-gradient(260deg, #312626 0%, #050404 100%);
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links, .link {
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9);
    z-index: 5;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
    z-index: 5;
}

.logo {
    font-family: 'Homemade Apple', cursive;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 0.8rem;
    margin-top: 0.2em;
    margin-left: 1em;
    padding: 0.4em;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    background: #4885ed;
}

.navbar-toggle {
    position: absolute;
    top: 0.55em;
    right: 1em;
    cursor: pointer;
    color: #4885ed;
    font-size: 1.5rem;
    z-index: 5;
}

.active {
    display: block;
}



/* Home Section */
h1 {
    margin: 1.4em 0;
    font-size: 1.8rem;
    padding-top: 15vh;
}

.h-wrapper {
    height: 100vh;
    background-image: linear-gradient(260deg, #050404 0%, #312626 100%);
    color: rgb(255, 255, 255);
    padding: 0.5em 0;
}

.highlight {
    font-weight: bold;
    color: #4885ed;
    text-shadow: 1px 1px rgba(72, 133, 237, 0.8);
}

.heading-caption {
    margin: 1rem;
    padding: 0.25rem 0;
    border-top: 5px solid rgb(255, 255, 255, 0.5);
    border-bottom: 5px solid rgb(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* Keyframes for Buttons */
@keyframes border-color {
    0%, 100% {
        border: 3px solid rgb(255, 255, 255, 0.5);
        border-radius: 3px;
    }

    50% {
        border: 3px solid rgb(255, 255, 255);
        border-radius: 3px;
    }
}

@keyframes alt-border-color {
    0%, 100% {
        border: 3px solid rgb(255, 255, 255);
        border-radius: 3px;
    }

    50% {
        border: 3px solid rgb(255, 255, 255, 0.5);
        border-radius: 3px;
    }
}

@keyframes color-grow {
    0%, 100% {
        color: #fff;
        font-size: 1rem;
    }

    50% {
        color: #4885ed;
        font-size: 1.5rem;
    }
}

@keyframes alt-color-grow {
    0%, 100% {
        color: #4885ed;
        font-size: 1.5rem;
    }

    50% {
        color: #fff;
        font-size: 1rem;
    }
}

/* Buttons */
.button {
    display: inline-block;    
    border-radius: 3px;
    padding: 1.2rem 0;
    font-size: 1rem;
    width: 12em;
    height: 6em;
    
}

#about-button {
    animation: border-color 2s infinite;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

#down {
    animation: color-grow 2s infinite;
    
}

#fighting-button {
    animation: alt-border-color 2s infinite;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

#alt-down {
    animation: alt-color-grow 2s infinite;
}

.button:hover {
    background: rgba(49, 38, 38, 0.9);
}


/* About Section */
figure {
    border: 3px solid #4885ed;
    border-radius: 3px;
    margin: 1rem;
    padding: 1rem 0;
}


/* Fighting Section */
.fighting-wrapper {
    background: rgba(49, 38, 38, 0.5);
    margin: 5em 0;
}

figcaption {
    font-size: 1rem;
    background: #4885ed;
}

.thumb-link {
    width: 50px;
}


iframe {
    max-width: 100%;
    padding: 0 0.5em 0.5em 1em;
}


/* Videos Page */
#vid-body {
    height: 100vh;
}
#myVideo {
    position: fixed;
    right: -33vw;
    top: -10vh;
    min-width: 100vw; 
    min-height: 120vh;
    opacity: 0.6;
    z-index: -1;
  }

  .vid-wrap {
      background: rgba(72, 133, 237, 0.5);
      margin-top: 1em;
  }

  .vid-wrap h2 {
      background: rgba(72, 133, 237, 0.1);
  }

  .vid-wrap .link {
      font-size: 1rem;
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.9);
      border-radius: 3px;
      margin: 0.4em;
  }



#videos-button {
        border: 3px solid #4885ed;
        border-radius: 3px;
        color: #fff;
        font-style: italic;
        text-emphasis: bold;
        text-shadow: 1px 1px #fff;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

#vid-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Footer */
footer {
    font-size: 0.8rem;
    padding: 0 1em;
}

.foot-logo {
    font-family: 'Homemade Apple', cursive;
    margin-left: 0.5em;
    text-decoration: underline;
}
.contact {
    float: right;
}


/* Style for Larger Screen */
@media screen and (min-width: 700px) {

    img {
        max-width: 100%;
    }

    /* Nav-bar and Header */
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: #4885ed;
    }

    /* Home Section */
    .h-wrapper {
        display: grid;
        grid-template-columns: 15em 1fr 1fr 1fr 15em;
        grid-template-rows: 10em auto 5em 10em 1fr 1fr;
        justify-items: center;
    }

    h1 {
        grid-column: 2 / 5;
        grid-row: 2;
        margin: 0;
        padding-top: 0;
    }

    .intro {
        grid-column: 2 / 5;
        grid-row: 4;
        align-self: center;
    }

    .heading-caption {
        grid-column: 3;
        grid-row: 5;
        border: none;
        margin: 0;
        padding: 0;
        align-self: start;
        justify-self: start;
    }

    #about-button {
        grid-column: 2;
        grid-row: 5;
        align-self: center;
        justify-self: end;
    }

    #fighting-button {
        grid-column: 4;
        grid-row: 5;
        align-self: center;
        justify-self: start;  
    }


    /* About Section */
    .about-wrapper {
        display: grid;
        grid-template-columns: 10em 1fr 1fr 1fr 10em;
        grid-template-rows: auto 1fr 1fr;
        align-items: center;
        grid-gap: 1em;
    }

    figure {
        border: none;
        background: #4885ed;
        border-radius: 5px;
        margin: 0;
    }

    .section-heading {
        grid-column: 1 / -1;
    }

    #img1 {
        grid-column: 3;
        align-self: end;
        margin-top: 1em;
    } 

    #img2 {
        grid-row: 2;
        grid-column: 1 / 3;
        align-self: end;
        justify-self: center;
    }

    #img3 {
        grid-row: 2;
        grid-column: 4 / -1;
        align-self: center;
        justify-self: center;
    }

    #img4 {
        grid-row: 3;
        grid-column: 4;
        align-self: start;
    }

    #img5 {
        grid-row: 3;
        grid-column: 1 / 4;
        max-width: 80%;
        margin: 0 auto;
    }

    #family-photo {
        max-width: 80%;
    }

   
    
    /* Fighting Section */
    .fighting-wrapper {
        display: grid;
        grid-template-columns: 10em 1fr 1fr 1fr 10em;
        grid-template-rows: auto auto 1fr 1fr 1.25fr auto;
        grid-gap: 1em;
        align-items: center;
    }

    #img6 {
        grid-column: 2 / 5;
        align-self: start;
        margin-top: 1em;
    }

    #fight-photo {
        max-width: 75%;
    }

    #img7 {
        grid-column: 2;
        align-self: center;
    }

    #img8 {
        grid-column: 3;
        grid-row: 3;
        align-self: start;
    }

    #img9 {
        grid-column: 4;
        grid-row: 3;
        align-self: end;
    }

    #img10 {
        grid-column: 4;
        grid-row: 4;
        align-self: start;
    }

    #img11 {
        grid-column: 2;
        grid-row: 4;
        align-self: end;
    }

    #main-iframe {
        margin: 0;
        padding: 0;
        grid-column: 2 / 5;
        width: 75%;
        height: 100%;
        justify-self: center;
        align-self: center;
    }

    #videos-button {
        grid-row: -1;
        grid-column: 3;
        justify-self: center;
        align-self: center;
        margin-bottom: 1em;
    }

    

    /* Videos Page */
    #myVideo {
        right: 0;
        top: -10vh;
        min-width: 100vw; 
        min-height: 120vh;
        opacity: 0.6;
        z-index: -1;
      }

      .vid-wrap .link {
        font-size: 1.2rem;
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.9);
        margin: 1em;
        padding: 1em;
    }
}

/* Adjust Background Video for Landscape View Phone/Tablet */
@media screen and (min-width: 500px) {
    #myVideo {
        right: 10vw;
    }
}